
button, a{
  width: -webkit-fill-available;
}

mat-form-field{
  width: -webkit-fill-available; 
  padding-left: 0px;
  padding-right: 0px;
}

mat-card-actions{
  padding: 0px 0px;
  margin-top: -12px;
}

/* #particles-js{
  position:inherit;
} */
#particles-js{
  background-image: url('./../../../../assets/img/register.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: absolute; */
  /* top: 0px;
  right: 0px;
  left: 0px; */
  bottom: 0px;
  background-color: #1d1d1d;

}


.position-ref {
  position: relative;
}

.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  position: absolute;
}