
button, a {
  width: -webkit-fill-available;
}

mat-form-field{
  width: -webkit-fill-available; 
  padding-left: 0px;
  padding-right: 0px;
}

mat-card-actions{
  padding: 0px 0px;
  margin-top: -12px;
}

/* para centrar */
mat-card-header {
  display: inherit;
}
/* #particles-js{
  position:inherit;
} */

.position-ref {
  position: relative;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.full-height {
  height: 100%;
}

.content {
  text-align: center;
  position: absolute;
} 

#particles-js{
  background-image: url('./../../../../assets/img/auth.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  /* top: 0px; */
  right: 0px;
  /* bottom: 0px; */
  left: 0px;
  background-color: #1d1d1d;
}

#link-password{
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #1a73e8;
  font-weight: 500;
  letter-spacing: .25px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  outline: 0;
  padding: 0;
  text-align: left;
}