<div class="container">
    <!-- titulo del formulario -->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <mat-card class="mat-elevation-z8">
                <h2>Planilla Proveedores</h2>
            </mat-card>
            <br>
        </div>
    </div>
    <div class="mat-elevation-z8">
        <!--  -->
        <form [formGroup]="formProveedor" novalidate autocomplete="off">
            <div class="row">
                <div class="col-xs-12 col-md-12 input-formulario">
                    <div class="row input-mat-card">
                        <div class="col-xs-12 col-md-4">
                            <mat-card>
                                <mat-label>DNI</mat-label>
                                <input matInput type="text" formControlName="dni" placeholder="dni" autofocus
                                    [value]="this.formProveedor.controls.dni">
                            </mat-card>
                            <mat-error *ngIf="!formProveedor.controls['dni'].value && (formProveedor.controls['dni'].touched || formProveedor.controls['dni'].dirty)">
                                El DNI es <strong>requerido</strong>
                            </mat-error>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <mat-card>
                                <mat-label>Apellido</mat-label>
                                <input matInput type="text" formControlName="apellido" placeholder="apellido"
                                    [value]="this.formProveedor.controls.apellido">
                            </mat-card>
                            <mat-error *ngIf="!formProveedor.controls['apellido'].value && (formProveedor.controls['apellido'].touched || formProveedor.controls['apellido'].dirty)">
                                El Apellido es <strong>requerido</strong>
                            </mat-error>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <mat-card>
                                <mat-label>Nombre</mat-label>
                                <input matInput type="text" formControlName="nombre" placeholder="nombre"
                                    [value]="this.formProveedor.controls.nombre">
                            </mat-card>
                            <mat-error *ngIf="!formProveedor.controls['nombre'].value && (formProveedor.controls['nombre'].touched || formProveedor.controls['nombre'].dirty)">
                                El Nombre es <strong>requerido</strong>
                            </mat-error>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row input-mat-card">
                        <div class="col-xs-12 col-md-6">
                            <mat-card>
                                <mat-label>Telefono</mat-label>
                                <input matInput type="text" formControlName="telefono" placeholder="telefono"
                                    [value]="this.formProveedor.controls.telefono">
                            </mat-card>
                            <mat-error *ngIf="!formProveedor.controls['telefono'].value && (formProveedor.controls['telefono'].touched || formProveedor.controls['telefono'].dirty)">
                                El Telefono es <strong>requerido</strong>
                            </mat-error>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-card>
                                <mat-label>Email</mat-label>
                                <input matInput type="text" formControlName="email" placeholder="email"
                                    [value]="this.formProveedor.controls.email">
                            </mat-card>
                             <mat-error *ngIf="!formProveedor.controls['email'].value && (formProveedor.controls['email'].touched || formProveedor.controls['email'].dirty)">
                                El Email es <strong>requerido</strong>
                            </mat-error>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row between-xs input-mat-card">
                        <div class="col-xs-3">
                            <button mat-flat-button color="warn" 
                                [disabled]="this.mostrarEdit"
                                (click)="editarProveedor()"
                                style="margin-left: 15px;">{{this.buttonEditar}}</button>
                            <button mat-flat-button (click)="cancelarEdicionProve()" 
                                [disabled]="this.mostrarCancelar"
                                style="margin-left: 15px;">Cancelar</button>
                        </div>
                        <div class="col-xs-1">
                            <button mat-flat-button color="primary" type="submit" [disabled]="!this.mostrarCancelar" (click)="nuevoProveedor()">{{this.buttonNuevo}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">    
            <!--  -->
            <div class="col-xs-12 col-md-12 input-formulario">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

                    <!-- <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container> -->

                    <ng-container matColumnDef="dni">
                        <th mat-header-cell *matHeaderCellDef> DNI </th>
                        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
                    </ng-container>

                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef> Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="telefono">
                        <th mat-header-cell *matHeaderCellDef> Telefono </th>
                        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <!-- <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"> -->
                    <tr mat-row (click)="seleccionFila(row)" *matRowDef="let row; columns: columnsToDisplay;"
                        class="example-element-row"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons class="mat-elevation-z8">
                </mat-paginator>
            </div>
        </div>

    </div>
</div>
