<!-- xs: extra small -->
<!-- sm: small -->
<!-- md: medium -->
<!-- lg: large -->
<div class="container">

    <!-- titulo del formulario -->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <mat-card class=" mat-elevation-z8">
                <h2>Informacion</h2>
            </mat-card>
            <br>
        </div>
    </div>


    <!-- formulario para el calculo de la venta -->
    <form [formGroup]="formCriptomoneda" novalidate (ngSubmit)="onSubmit()" autocomplete="off" #formDirective="ngForm" >
        <!-- autocomplete="off" es para quitar el auto completado-->
        <div class="row">
            <!-- Datos para calcular mi vetna  -->
            <div class="col-xs-12 col-md-4">
                <div class="mat-elevation-z8">
                    <!-- <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="mat-form-field">
                                    <mat-label>Seleccion Web para Cotizar</mat-label>
                                    <mat-select formControlName="web">
                                        <mat-option *ngFor="let web of webs" [value]="web.name"
                                            (click)="getWeb(web.name)">
                                            {{web.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formCriptomoneda.controls['importe_compra'].hasError('required')">
                                        El Web es <strong>requerido</strong>
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div> -->
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-10 input-formulario" style="padding-right: 0px;">
                            <div class="box">
                                <mat-form-field class="mat-form-field">
                                    <mat-label>Cliente</mat-label>
                                    <mat-select formControlName="cliente_id">
                                        <mat-option *ngFor="let cliente of clientes" [value]="cliente.id"
                                            (click)="seleccionCliente(cliente.id)">
                                            {{cliente.nombre}} {{cliente.apellido}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formCriptomoneda.controls['importe_compra'].hasError('required')">
                                        El Cliente es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <a class="add-elemento" mat-mini-fab (click)="agregarCliente()" title="Agregar Cliente"><i
                                    class="fas fa-user-plus"></i></a>
                        </div>
                    </div>

                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="mat-form-field" style="padding-right: 0px;">
                                    <mat-label>Moneda </mat-label>
                                    <mat-select formControlName="compra_moneda">
                                        <mat-option *ngFor="let compra_moneda of compra_monedas"
                                            [value]="compra_moneda.name"
                                            (click)="seleccionMonedero(compra_moneda.name)">
                                            {{compra_moneda.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formCriptomoneda.controls['importe_compra'].hasError('required')">
                                        La Moneda es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>

                    <div class="row center-xs middle-xs">
                        <div class="col-xs-10 input-formulario" style="padding-right: 0px;">
                            <div class="box">
                                <mat-form-field class="mat-form-field">
                                    <mat-label>Proveedor</mat-label>
                                    <mat-select formControlName="proveedor_id">
                                        <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.id"
                                            (click)="seleccionProveedor(proveedor)">
                                            {{proveedor.nombre}} {{proveedor.apellido}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formCriptomoneda.controls['importe_compra'].hasError('required')">
                                        El Proveedor es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- boton para agregar proveedor -->
                        <div class="col-xs-2">
                            <a class="add-elemento" mat-mini-fab (click)="agregarProveedor()"
                                title="Agregar Proveedor"><i class="fas fa-user-plus"></i></a>
                        </div>
                    </div>

                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="">
                                    <mat-label>&#37; Proveedor</mat-label>
                                    <input type="number" matInput placeholder="100%" formControlName="comision_prove">
                                    <mat-error *ngIf="formCriptomoneda.controls['comision_prove'].hasError('required')">
                                        El porcentaje es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="">
                                    <mat-label>Comprar del Cliente</mat-label>
                                    <input type="number" matInput placeholder="9999.99"
                                        formControlName="importe_compra">
                                    <mat-error *ngIf="formCriptomoneda.controls['importe_compra'].hasError('required')">
                                        El importe es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                                <!-- <mat-form-field class="">
                                    <mat-label>Comprar del Cliente</mat-label>
                                    <input type="number" matInput placeholder="9999.99"
                                        formControlName="importe_compra">
                                    <mat-error *ngIf="formCriptomoneda.controls['importe_compra'].hasError('required')">
                                        El importe es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field> -->
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field>
                                    <mat-label>&#37; Vendedor</mat-label>
                                    <input type="number" matInput placeholder="100%"
                                        formControlName="comision_vendedor">
                                    <mat-error
                                        *ngIf="formCriptomoneda.controls['comision_vendedor'].hasError('required')">
                                        El porcentaje es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field>
                                    <mat-label>{{this.monedaSeleccionada}}</mat-label>
                                    <input type="number" matInput placeholder="Precio {{this.monedaSeleccionada}}"
                                        formControlName="dolar">
                                    <mat-error *ngIf="formCriptomoneda.controls['dolar'].hasError('required') ">
                                        El {{this.monedaSeleccionada}} es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="mat-form-field">                                                              
                                    <mat-label>Cryptomoneda</mat-label>
                                    <input matInput placeholder="Cotizacion de la Criptomoneda"
                                        formControlName="criptomoneda">
                                    <mat-error *ngIf="formCriptomoneda.controls['criptomoneda'].hasError('required')">
                                        La Criptomoneda es <strong>requerido</strong>
                                    </mat-error>
                                    <mat-error *ngIf="formCriptomoneda.controls['tipo_criptomoneda'].hasError('required')">
                                        La Tipo Criptomoneda es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row start-xs middle-xs input-formulario">
                        <div class="col-xs-12">
                            <button mat-raised-button [disabled]="formCriptomoneda.invalid"
                                type="submit">{{this.botonAccion}}</button>
                            <!-- <a mat-raised-button type="button">Limpiar</a> -->
                        </div>
                        <!-- <div class="col-xs-6">
                            <a mat-raised-button type="button"
                                (click)="presupuesto(this.formCriptomoneda.value)">Presupuestar</a>
                        </div> -->
                    </div>

                </div>
            </div>
            <div class="col-sx-12 col-md-8">
                <div class="mat-elevation-z8" style="height: 100%;">
                    <div class="row">
                        <div class="col-md-4 input-formulario">
                            <mat-card class="ripple-container"
                                (click)="criptomonedaSeleccionada(this.precioBitcoin, 'Bitcoin')" matRipple
                                [matRippleCentered]="centered" [matRippleDisabled]="disabled"
                                [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                        <img src="assets/img/btc.icon.svg" alt="">
                                    </div>
                                    <mat-card-title>Bitcoin</mat-card-title>
                                    <mat-card-subtitle>{{this.fechaBitcoin | date : 'medium'}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <h1><strong>{{this.precioBitcoin | currency: 'USD' }}</strong> </h1>
                                </mat-card-content>
                                <mat-card-actions>
                                    <!-- grafica -->
                                    <div id="graficaBitcoin">
                                        <highcharts-chart [Highcharts]="Highcharts" [options]="graficaBitcoin"
                                            style="width: 100%; height: 150px; display: block;">
                                        </highcharts-chart>
                                    </div>
                                    <!-- grafica -->
                                </mat-card-actions>
                            </mat-card>

                        </div>
                        <div class="col-md-4 input-formulario">
                            <mat-card class="ripple-container"
                                (click)="criptomonedaSeleccionada(this.precioEthereum, 'Ethereum')" matRipple
                                [matRippleCentered]="centered" [matRippleDisabled]="disabled"
                                [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                        <img src="assets/img/eth.icon.svg" alt="">
                                    </div>
                                    <mat-card-title>Ethereum</mat-card-title>
                                    <mat-card-subtitle>{{this.fechaEthereum | date : 'medium'}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <h1><strong>{{this.precioEthereum | currency: 'USD' }}</strong></h1>
                                </mat-card-content>
                                <mat-card-actions>
                                    <!-- grafica -->
                                    <div id="graficaEthereum">
                                        <highcharts-chart [Highcharts]="Highcharts" [options]="graficaEthereum"
                                            style="width: 100%; height: 150px; display: block;">
                                        </highcharts-chart>
                                    </div>
                                    <!-- grafica -->
                                </mat-card-actions>
                            </mat-card>

                        </div>
                        <div class="col-md-4 input-formulario">
                            <mat-card class="ripple-container"
                                (click)="criptomonedaSeleccionada(this.precioLitecoin, 'Litecoin')" matRipple
                                [matRippleCentered]="centered" [matRippleDisabled]="disabled"
                                [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                        <img src="assets/img/ltc.icon.svg" alt="">
                                    </div>
                                    <mat-card-title>Litecoin</mat-card-title>
                                    <mat-card-subtitle>{{this.fechaLitecoin | date : 'medium'}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <h1><strong>{{this.precioLitecoin | currency: 'USD' }}</strong></h1>
                                </mat-card-content>
                                <mat-card-actions>
                                    <!-- grafica -->
                                    <div id="graficaLitecoin">
                                        <highcharts-chart [Highcharts]="Highcharts" [options]="graficaLitecoin"
                                            style="width: 100%; height: 150px; display: block;">
                                        </highcharts-chart>
                                    </div>
                                    <!-- grafica -->
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <div class="row end-xs middle-xs input-formulario">

                        <div class="col-xs-12 col-md-6" style="padding-right: 0px;">
                            <button mat-raised-button type="button" (click)="getWeb('Bitstamp')">Actualizar Monedas</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <br>

    <!-- calculo de la venta  -->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <mat-card class="mat-elevation-z8">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row start-xs middle-xs">
                                    <h2>Detalle de la venta </h2>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row end-xs middle-xs" *ngIf="(this.formularioDevuelto)">
                                    <h4 class="col-xs-12" style="margin-bottom: 0px;">
                                        Ganancia Criptomoneda: <strong> {{ this.formCriptomoneda.value.ganacia_criptomoneda }}
                                            {{ this.formCriptomoneda.value.tipo_criptomoneda}}</strong>
                                    </h4>
                                    <h4 class="col-xs-12" style="margin-bottom: 0px;">
                                        <div *ngIf="(this.formCriptomoneda.value.compra_moneda === 'Euro')">Ganancia
                                            Euro: <strong>&#8364; {{this.gananciaDolar | number:'1.2-2'}}</strong></div>
                                        <div *ngIf="(this.formCriptomoneda.value.compra_moneda !== 'Euro')">Ganancia
                                            Dolar: <strong>US$&nbsp; {{this.gananciaDolar | number:'1.2-2'}}</strong>
                                        </div>
                                    </h4>
                                    <h4 class="col-xs-12" style="margin-bottom: 0px;">
                                        Ganancia Peso:<strong>&#36; {{this.gananciaPeso | number:'1.2-2'}}</strong>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <mat-card class="input-formulario mat-elevation-z8">
                        <mat-card-header>
                            <div mat-card-avatar *ngIf="(this.formularioDevuelto)">
                                <strong>{{this.formCriptomoneda.value['comision_prove']}}&#37;</strong> </div>
                            <mat-card-title>Proveedor</mat-card-title>
                            <mat-card-subtitle *ngIf="(this.formularioDevuelto)">
                                {{this.proveedorSeleccionado.apellido}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu"> -->
                        <mat-card-content *ngIf="(this.formularioDevuelto)">

                            <h3>
                                <div class="row end-xs">
                                    <div class="col-xs-12 col-md-4"><strong> Detalle Comision:</strong></div>
                                    <div class="col-xs-12 col-md-8" >
                                        <strong *ngIf="this.monedaSeleccionada === 'Dolar'">US$&nbsp;
                                            {{this.formCriptomoneda.value.valor_comision_prove | number:'1.2-2' }}</strong>
                                        <strong *ngIf="this.monedaSeleccionada === 'Euro'">&#8364;
                                            {{this.formCriptomoneda.value.valor_comision_prove | number:'1.2-2' }}</strong>
                                    </div>
                                </div>
                                <div class="row end-xs">
                                    <div class="col-xs-12">
                                        <strong *ngIf="this.monedaSeleccionada === 'Dolar'">
                                            US$&nbsp;{{this.formCriptomoneda.value.costo_criptomoneda_p | number:'1.2-2' }}
                                            {{ this.formCriptomoneda.value.tipo_criptomoneda}}
                                        </strong>
                                        <strong *ngIf="this.monedaSeleccionada === 'Euro'">
                                            &#8364;{{this.formCriptomoneda.value.costo_criptomoneda_p | number:'1.2-2' }}
                                            {{ this.formCriptomoneda.value.tipo_criptomoneda}}
                                        </strong>
                                    </div>
                                    <div class="col-xs-12">
                                        <strong>
                                            &#36;
                                            {{(this.formCriptomoneda.value.costo_criptomoneda_p * this.formCriptomoneda.value.dolar) | number:'1.2-2' }}
                                            {{ this.formCriptomoneda.value.tipo_criptomoneda}}
                                        </strong>
                                    </div>
                                </div>
                                <div class="row end-xs">
                                    <div class="col-xs-4">
                                        <strong>Total Criptomonedas:</strong>
                                    </div>
                                    <div class="col-xs-8">
                                        <strong>{{this.costo_total.prove }}</strong>
                                    </div>
                                </div>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-xs-12 col-md-6">
                    <mat-card class="input-formulario mat-elevation-z8">
                        <mat-card-header>
                            <div mat-card-avatar *ngIf="(this.formularioDevuelto)">
                                <strong>{{this.formCriptomoneda.value['comision_vendedor']}}&#37;</strong></div>
                            <mat-card-title>Vendedor</mat-card-title>
                            <mat-card-subtitle *ngIf="(this.formularioDevuelto)">{{this.usuario.name}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu"> -->
                        <mat-card-content *ngIf="(this.formularioDevuelto)">
                            <h3>
                                <div class="row end-xs">
                                    <div class="col-xs-12 col-md-4"><strong> Detalle Comision:</strong></div>
                                    <div class="col-xs-12 col-md-8" >
                                        <strong *ngIf="this.monedaSeleccionada === 'Dolar'">US$&nbsp;
                                            {{this.formCriptomoneda.value.valor_comision_vendedor | number:'1.2-2' }}</strong>
                                        <strong *ngIf="this.monedaSeleccionada === 'Euro'">&#8364;
                                            {{this.formCriptomoneda.value.valor_comision_vendedor | number:'1.2-2' }}</strong>
                                    </div>
                                </div>
                                <div class="row end-xs">
                                    <div class="col-xs-12">
                                        <strong *ngIf="this.monedaSeleccionada === 'Dolar'">
                                            US$&nbsp;{{this.formCriptomoneda.value.costo_criptomoneda_v | number:'1.2-2' }}
                                            {{ this.formCriptomoneda.value.tipo_criptomoneda}}
                                        </strong>
                                        <strong *ngIf="this.monedaSeleccionada === 'Euro'">
                                            &#8364;{{this.formCriptomoneda.value.costo_criptomoneda_v | number:'1.2-2' }}
                                            {{ this.formCriptomoneda.value.tipo_criptomoneda}}
                                        </strong>
                                    </div>
                                    <div class="col-xs-12">
                                        <strong>
                                            &#36;
                                            {{(this.formCriptomoneda.value.costo_criptomoneda_v * this.formCriptomoneda.value.dolar) | number:'1.2-2' }}
                                            {{ this.formCriptomoneda.value.tipo_criptomoneda}}
                                        </strong>
                                    </div>
                                </div>
                                <div class="row end-xs">
                                    <div class="col-xs-4">
                                        <strong>Total Criptomonedas:</strong>
                                    </div>
                                    <div class="col-xs-8">
                                        <strong>{{this.costo_total.vende}}</strong>
                                    </div>
                                </div>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <br>
            <div class="mat-elevation-z8 input-formulario">
                <div class="row between-xs ">
                    <div class="col-xs-2">
                        <div class="box">
                            <button mat-raised-button type="button" 
                                [disabled]="formCriptomoneda.invalid || this.formCriptomoneda.value.estado === 'v'"
                                style="margin-right: 10px;" (click)="venderMoneda()">
                                Vender
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="box">
                            <button mat-raised-button type="button" style="margin-right: 10px;"
                                (click)="nuevoFormulario()">Nuevo</button>
                            <button mat-raised-button type="button" [disabled]="formCriptomoneda.invalid"
                                (click)="borrarMoneda()">Borrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- table -->
    <div class="row">
        <div class="col-xs-12">
            <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
                <mat-label>Filter {{filter.name}}</mat-label>
                <select matNativeControl  name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                    (change)="filterChange(filter, $event)">
                    <option value="">-- Select {{filter.name}}--</option>
                    <option *ngFor="let item of filter.options"  [value]="item" >{{item === 'p'? 'Persupuesto': 'Venta'}}</option>
                </select>
            </mat-form-field>          
            &nbsp;
            <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
        </div>

        <div class="col-xs-12 col-md-12">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha_compra}} </td>
                </ng-container>

                <ng-container matColumnDef="importe">
                    <th mat-header-cell *matHeaderCellDef> Importe </th>
                    <td mat-cell *matCellDef="let element"> {{element.importe_compra}}</td>
                </ng-container>

                <ng-container matColumnDef="criptomoneda">
                    <th mat-header-cell *matHeaderCellDef> Criptomoneda </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.criptomoneda}} {{element.tipo_criptomoneda}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="valor_comision_prove">
                    <th mat-header-cell *matHeaderCellDef> Comision Prove </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.costo_criptomoneda_p | number:'1.2-2'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="valor_comision_vendedor">
                    <th mat-header-cell *matHeaderCellDef> Comision vendedor </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.costo_criptomoneda_v | number:'1.2-2'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="g_dolar">
                    <th mat-header-cell *matHeaderCellDef> Ganancia Dolar</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.compra_moneda === 'Dolar'">
                            US$&nbsp; {{(element.ganacia_criptomoneda * element.criptomoneda) | number:'1.2-2'}}
                        </div>                        
                        <div *ngIf=" element.compra_moneda === 'Peso'">
                            US$&nbsp; {{(element.ganacia_criptomoneda * element.costo_criptomoneda_p) | number:'1.2-2'}}
                        </div>
                        <div *ngIf=" element.compra_moneda === 'Euro'">
                            -
                        </div>

                    </td>
                </ng-container>

                <ng-container matColumnDef="g_euro">
                    <th mat-header-cell *matHeaderCellDef> Ganancia Euro</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf=" element.compra_moneda === 'Euro'">
                            &#8364; {{(element.ganacia_criptomoneda * element.criptomoneda) | number:'1.2-2'}}
                        </div>

                        <div *ngIf="element.compra_moneda === 'Dolar' || element.compra_moneda === 'Peso'">
                            -
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="g_peso">
                    <th mat-header-cell *matHeaderCellDef> Ganancia Peso</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.compra_moneda === 'Peso' ">
                            &#36; {{(element.ganacia_criptomoneda * element.costo_criptomoneda_p * element.dolar) | number:'1.2-2'}}
                        </div>

                        <div *ngIf="element.compra_moneda !== 'Peso' ">
                            &#36; {{(element.ganacia_criptomoneda * element.criptomoneda * element.dolar) | number:'1.2-2'}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="g_criptomoneda">
                    <th mat-header-cell *matHeaderCellDef> Ganancia Criptomoneda</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.ganacia_criptomoneda}}
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-diagram">
                                <div class="example-element-position">{{element.estado === 'p'? 'Persupuesto': 'Venta'}} </div>
                                <div class="example-element-symbol" *ngIf="element.tipo_criptomoneda === 'Bitcoin' "> <img src="assets/img/btc.icon.svg" alt=""></div>
                                <div class="example-element-symbol" *ngIf="element.tipo_criptomoneda === 'Ethereum' "><img src="assets/img/eth.icon.svg" alt=""> </div>
                                <div class="example-element-symbol" *ngIf="element.tipo_criptomoneda === 'Litecoin' "><img src="assets/img/ltc.icon.svg" alt=""></div>
                                <div class="example-element-name"> {{ element.compra_moneda }}</div>
                                <div class="example-element-weight" *ngIf=" element.compra_moneda === 'Dolar' || element.compra_moneda === 'Peso' ">US$&nbsp; {{ element.dolar }}   </div>
                                <div class="example-element-weight" *ngIf=" element.compra_moneda === 'Euro'"> &#8364; {{ element.dolar }}   </div>
                            </div>
                            <div class="example-element-description">
                                <div class="row start-xs">
                                    <div class="col-xs-12 col-md-12">
                                        Cliente: <strong> {{ element.cliente.nombre}}  {{ element.cliente.apellido }} </strong>
                                    </div>
                                </div>
                                <div class="row start-xs">
                                    <div class="col-xs-12 col-md-12" *ngIf=" element.compra_moneda === 'Dolar'|| element.compra_moneda === 'Peso' ">
                                        Comision Proveedor: ({{element.comision_prove}}%)  US$&nbsp;{{ (element.valor_comision_prove/1 ) | number:'1.2-2' }}
                                    </div>
                                    <div class="col-xs-12 col-md-12" *ngIf=" element.compra_moneda === 'Euro'">
                                        Comision Proveedor: ({{element.comision_prove}}%)  &#8364;{{ (element.valor_comision_prove/1 ) | number:'1.2-2' }}
                                    </div>
                                </div>
                                <div class="row start-xs">
                                    <div class="col-xs-12 col-md-12" *ngIf=" element.compra_moneda === 'Dolar'|| element.compra_moneda === 'Peso' ">
                                        Comision Vendedor: ({{element.comision_vendedor}}%) US$&nbsp; {{ (element.valor_comision_vendedor/1) | number:'1.2-2' }}
                                    </div>
                                    <div class="col-xs-12 col-md-12" *ngIf=" element.compra_moneda === 'Euro'">
                                        Comision Vendedor: ({{element.comision_vendedor}}%)  &#8364;{{ (element.valor_comision_vendedor/1) | number:'1.2-2' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row (click)="seleccionFila(element)" *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row  *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>
        </div>
    </div>
</div>
