<!-- xs: extra small -->
<!-- sm: small -->
<!-- md: medium -->
<!-- lg: large -->
<div class="container">

    <!-- titulo del formulario -->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <mat-card class=" mat-elevation-z8">
                <h2>Informacion</h2>
            </mat-card>
            <br>
        </div>
    </div>
    

    <!-- formulario para el calculo de la venta -->
    <form [formGroup]="formularioCriptomoneda" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
            <!-- Datos para calcular mi vetna  -->
            <div class="col-xs-12 col-md-4">
                <div class="mat-elevation-z8">
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="mat-form-field">
                                    <mat-label>Seleccion Web para Cotizar</mat-label>
                                    <mat-select formControlName="paginaWeb">
                                        <mat-option *ngFor="let paginaWeb of paginaWebs" [value]="paginaWeb" 
                                            (click)="getWeb(paginaWeb.name)">
                                            {{paginaWeb.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-10 input-formulario" style="padding-right: 0px;">
                            <div class="box">
                                <mat-form-field class="mat-form-field">
                                    <mat-label>Cliente</mat-label>
                                    <mat-select formControlName="cliente">
                                        <mat-option *ngFor="let cliente of clientes" [value]="cliente.id" (click)="seleccionCliente(cliente.id)">
                                            {{cliente.nombre}} {{cliente.apellido}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <a class="add-elemento" mat-mini-fab routerLink="." title="Agregar Cliente"><i class="fas fa-user-plus"></i></a>
                        </div>
                    </div>
        
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="mat-form-field" style="padding-right: 0px;">
                                    <mat-label>Moneda </mat-label>
                                    <mat-select formControlName="moneda">
                                        <mat-option *ngFor="let monedero of monederos" [value]="monedero.name">
                                            {{monedero.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
        
                            </div>
                        </div>
        
                    </div>
        
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-10 input-formulario" style="padding-right: 0px;">
                            <div class="box">
                                <mat-form-field class="mat-form-field">
                                    <mat-label>Proveedor</mat-label>
                                    <mat-select formControlName="proveedor">
                                        <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.id" (click)="seleccionProveedor(proveedor)">
                                            {{proveedor.nombre}} {{proveedor.apellido}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- boton para agregar proveedor -->
                        <div class="col-xs-2">
                            <a class="add-elemento" mat-mini-fab routerLink="." title="Agregar Proveedor"><i class="fas fa-user-plus"></i></a>
                        </div>
                    </div>
        
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="">
                                    <mat-label>% Proveedor</mat-label>
                                    <input type="text" matInput placeholder="100%" formControlName="comision_p">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="">
                                    <mat-label>Comprar del Cliente</mat-label>
                                    <input type="text" matInput placeholder="9999.99" formControlName="cliente_compra">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs middle-xs">
                        <div class="col-xs-12 input-formulario">
                            <div class="box">
                                <mat-form-field class="">
                                    <mat-label>% Vendedor</mat-label>
                                    <input type="text" matInput placeholder="100%" formControlName="comision_v">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row start-xs middle-xs">
                        <div class="col-xs-6 input-formulario">
                            <!-- <a mat-raised-button type="submit">Vender</a> -->
                            <button mat-raised-button type="submit">Vender</button>
                            <a mat-raised-button type="button">Limpiar</a>
                        </div>
                        <div class="col-xs-6 input-formulario">
                            <a mat-raised-button type="button" (click)="presupuesto(this.formularioCriptomoneda.value)">Presupuestar</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-sx-12 col-md-8">
                <div class="mat-elevation-z8">
                    <div class="row">
                        <div class="col-md-4 input-formulario">
                            <mat-card class="ripple-container" (click)="criptomonedaSeleccionada(this.precioBitcoin, 'Bitcoin')" matRipple
                                [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
                                [matRippleRadius]="radius" [matRippleColor]="color">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                        <img src="assets/img/btc.icon.svg" alt="">
                                    </div>
                                    <mat-card-title>Bitcoin</mat-card-title>
                                    <mat-card-subtitle>{{this.fechaBitcoin | date : 'medium'}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <h1><strong>{{this.precioBitcoin | currency: 'USD' }}</strong> </h1>
                                </mat-card-content>
                                <mat-card-actions>
                                    <!-- grafica -->
                                    <div id="graficaBitcoin">
                                        <highcharts-chart [Highcharts]="Highcharts" [options]="graficaBitcoin"
                                            style="width: 100%; height: 150px; display: block;">
                                        </highcharts-chart>
                                    </div>
                                    <!-- grafica -->
                                </mat-card-actions>
                            </mat-card>
        
                        </div>
                        <div class="col-md-4 input-formulario">
                            <mat-card class="ripple-container" (click)="criptomonedaSeleccionada(this.precioEthereum, 'Ethereum')" matRipple
                                [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
                                [matRippleRadius]="radius" [matRippleColor]="color">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                        <img src="assets/img/eth.icon.svg" alt="">
                                    </div>
                                    <mat-card-title>Ethereum</mat-card-title>
                                    <mat-card-subtitle>{{this.fechaEthereum | date : 'medium'}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <h1><strong>{{this.precioEthereum | currency: 'USD' }}</strong></h1>
                                </mat-card-content>
                                <mat-card-actions>
                                    <!-- grafica -->
                                    <div id="graficaEthereum">
                                        <highcharts-chart [Highcharts]="Highcharts" [options]="graficaEthereum"
                                            style="width: 100%; height: 150px; display: block;">
                                        </highcharts-chart>
                                    </div>
                                    <!-- grafica -->
                                </mat-card-actions>
                            </mat-card>
        
                        </div>
                        <div class="col-md-4 input-formulario">
                            <mat-card class="ripple-container" (click)="criptomonedaSeleccionada(this.precioLitecoin, 'Ethereum')" matRipple
                                [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
                                [matRippleRadius]="radius" [matRippleColor]="color">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                        <img src="assets/img/ltc.icon.svg" alt="">
                                    </div>
                                    <mat-card-title>Litecoin</mat-card-title>
                                    <mat-card-subtitle>{{this.fechaLitecoin | date : 'medium'}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <h1><strong>{{this.precioLitecoin | currency: 'USD' }}</strong></h1>
                                </mat-card-content>
                                <mat-card-actions>
                                    <!-- grafica -->
                                    <div id="graficaLitecoin">
                                        <highcharts-chart [Highcharts]="Highcharts" [options]="graficaLitecoin"
                                            style="width: 100%; height: 150px; display: block;">
                                        </highcharts-chart>
                                    </div>
                                    <!-- grafica -->
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="input-formulario">
                                <mat-label>Cryptomoneda</mat-label>
                                <input matInput placeholder="Cotizacion de la Criptomoneda" 
                                    formControlName="criptomoneda">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="input-formulario">
                                <mat-label>Dolar</mat-label>
                                <input matInput placeholder="Precio Dolar"
                                    formControlName="cotizacion_dolar">
                            </mat-form-field>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>        
    </form>
    <br>

    <!-- calculo de la compra -->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <mat-card class=" mat-elevation-z8">
                        <h2>Detalle de la Compra</h2>
                    </mat-card>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <mat-card class="input-formulario mat-elevation-z8">
                        <mat-card-header>
                            <div mat-card-avatar *ngIf="(this.formularioDevuelto)"><strong>{{this.formularioCriptomoneda.value['comision_p']}}%</strong> </div>
                            <mat-card-title>Proveedor</mat-card-title>
                            <mat-card-subtitle *ngIf="(this.formularioDevuelto)">
                                {{this.proveedorSeleccionado.apellido}} {{this.proveedorSeleccionado.nombre}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu"> -->
                        <mat-card-content *ngIf="(this.formularioDevuelto)">
                            <h3>Comision: US$&nbsp; {{this.calc_com_prov.prove | number:'1.2-2' }} -  <strong>(US$&nbsp;{{this.costo_dolar.prove | number:'1.2-2' }} {{this.tipoCripto}}) </strong></h3>
                            
                            <!-- Cuadno compro con pesos -->
                            <h2 *ngIf="(this.monedaSeleccionada === 'Peso' || this.monedaSeleccionada === 'Dolar' )">Total Criptomonedas: {{this.costo_total.prove }}</h2>
                            <!-- cuando compro con dolares -->
                            <!-- <h2>Total Criptomonedas: {{this.costo_total }}</h2> -->
                            
                            
                            <!-- cuando compro criptomoneda -->
                            <h2 *ngIf="(this.monedaSeleccionada === 'Criptomoneda')">Pesos:  $ {{this.costo_peso.prove | number:'1.2-2' }}</h2>
                            <h2 *ngIf="(this.monedaSeleccionada === 'Criptomoneda')">Dolares: US$&nbsp; {{this.costo_total.vende | number:'1.2-2' }}</h2>


                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-xs-12 col-md-6">
                    <mat-card class="input-formulario mat-elevation-z8">
                        <mat-card-header>
                            <div mat-card-avatar *ngIf="(this.formularioDevuelto)"><strong>{{this.formularioCriptomoneda.value['comision_v']}}%</strong></div>
                            <mat-card-title>Vendedor</mat-card-title>
                            <mat-card-subtitle *ngIf="(this.formularioDevuelto)" >{{this.usuario.name}}</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu"> -->
                        <mat-card-content *ngIf="(this.formularioDevuelto)">
                            <h3>Comision: US$&nbsp; {{this.calc_com_prov.vende | number:'1.2-2' }} -  <strong>(US$&nbsp;{{this.costo_dolar.vende | number:'1.2-2' }} {{this.tipoCripto}}) </strong></h3>
                            
                            <!-- Cuadno compro con pesos -->
                            <h2 *ngIf="(this.monedaSeleccionada === 'Peso' || this.monedaSeleccionada === 'Dolar' )">Total Criptomonedas: {{this.costo_total.vende }}</h2>

                            <!-- cuando compro criptomoneda -->
                            <h2 *ngIf="(this.monedaSeleccionada === 'Criptomoneda')">Pesos:  $ {{this.costo_peso.prove | number:'1.2-2' }}</h2>
                            <h2 *ngIf="(this.monedaSeleccionada === 'Criptomoneda')">Dolares: US$&nbsp; {{this.costo_total.vende | number:'1.2-2' }}</h2>
                        </mat-card-content>
                    </mat-card>
                </div>
          
            </div>
        </div>
    </div>
    <br>

    <!-- table -->
    <div class="row">
        <div class="col-xs-12 col-md-12 mat-elevation-z8">

            <!-- <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    GitHub's API rate limit has been reached. It will be reset in one minute.
                </div>
            </div> -->

            <div class="example-table-container">

                <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created"
                    matSortDisableClear matSortDirection="desc">
                    <!-- Number Column -->
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let row">{{row.number}}</td>
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef>Title</th>
                        <td mat-cell *matCellDef="let row">{{row.title}}</td>
                    </ng-container>

                    <!-- State Column -->
                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef>State</th>
                        <td mat-cell *matCellDef="let row">{{row.state}}</td>
                    </ng-container>

                    <!-- Created Column -->
                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            Created
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
        </div>
    </div>
</div>